@import "tailwindcss";

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.nav {
  transition: color 0.8s ease;
}

.nav .nav-link {
  color: white;
}

.nav.scrolled .nav-link {
  color: black;
}


.scrollbar-hide::-webkit-scrollbar {
  height: 1px;
  opacity: 0;
}
.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;    /* Firefox */
}
